---
import Base from "@/layouts/Base.astro";
import SearchBar from "@/layouts/SearchBar";
import { getSinglePage } from "@/lib/contentParser.astro";

// Retrieve all articles
const posts = await getSinglePage("posts");

const images = import.meta.glob<{ default: ImageMetadata }>(
  "/src/assets/**/*.{jpeg,jpg,png,gif}",
);

// List of items to search in
const searchList = await Promise.all(posts.map(async (item: any) => {
  item.data = Object.assign({}, item.data);
  
  if (item.data.image) {
    item.data.importedImage = (await images[`/src/assets${item.data.image}`]()).default.src;
  }

  return {
    slug: item.slug,
    data: item.data,
    content: item.body,
  };
}));
---

<Base title={`Search`}>
  <section class="section">
    <div class="container">
      <SearchBar client:load searchList={searchList} />
    </div>
  </section>
</Base>
