---
import { getImage } from "astro:assets";

import Base from "@/layouts/Base.astro";
import SearchBar from "@/layouts/SearchBar";
import { getSinglePage } from "@/lib/contentParser.astro";

// Retrieve all articles
const posts = await getSinglePage("posts");

const images = import.meta.glob<{ default: ImageMetadata }>('/src/assets/**/*.{jpeg,jpg,png,gif}');

// List of items to search in
const searchList = await Promise.all(
  posts.map(async (item: any) => {
    item.data = Object.assign({}, item.data);

    if (item.data.image) {
      const imgPath = `/src/assets${item.data.image}`;
      const imported = images[imgPath] ? await images[imgPath]() : null;

      if (!imported) {
        item.data.importedImage = item.data.image;
      } else {
        item.data.importedImage = await getImage({
          src: imported.default,
          width: 1000,
          height: 500
        });
      }
    }

    return {
      slug: item.slug,
      data: item.data,
      content: item.body,
    };
  }),
);
---

<Base title={`Search`}>
  <section class="section">
    <div class="container">
      <SearchBar client:load searchList={searchList} />
    </div>
  </section>
</Base>
